<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F149D501D946DD100A65CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1B99321B5FAEFB007A44D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1B99471B5FAEFB007A44D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
